.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
/* Add or update styles for textarea */
.input-group textarea {
    width: 100%;
    margin:10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 50px; /* Adjust based on your design needs */
    overflow: hidden; /* Optional: hide the scrollbar */
    resize: none; /* Optional: prevent manual resizing */
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.form-row {
  /*  display: flex;
    justify-content: space-between;
    margin: 15px;
    */
}

.input-group {
    flex: 1;
    margin-right: 10px;
}

.input-group:last-child {
    margin-right: 0;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group textarea, .input-group input[type="text"], .input-group input[type="range"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group textarea {
    resize: none;
    min-height: 50px;
    
}

.range-value {
    text-align: center;
    margin-top: 5px;
}

button {
    display: block;
    width: 100%;
}